.ipynb_checkpoints
Entrega2
figs/imagenesSegmentadasManualmente2
figs/baseDatos
AyudaProfesor
Informe
preprocesos
segmentacion/mask*
segmentacion/R-CNN*
aux.py
codigoDeReciclaje.ipynb
BCV_ELF_Taller7_ClasificacionConRNA/PreprocesamientoSegmentacionExtraccionCaracteristicasPCA.ipynb