.ipynb_checkpoints
Entrega2
figs/imagenesSegmentadasManualmente2
figs/imagenesSegmentadasAutomaticamenteTotales
figs/baseDatos
AyudaProfesor
Informe
preprocesos
segmentacion/mask*
segmentacion/R-CNN*
segmentacion/k-means*
segmentacion/crecimiento*
segmentacion/Thresho*
aux.py
codigoDeReciclaje.ipynb
BCV_ELF_Taller7_ClasificacionConRNA/PreprocesamientoSegmentacionExtraccionCaracteristicasPCA.ipynb
BCV_ELF_Taller7_ClasificacionConRNA/BCV_ELF_Taller7_ClasificacionConRNA2Punto.ipynb
segmentacion/HSV/mascaraColorEscalaDeGrises.ipynb
